<template>
  <q-page class="flex flex-center">
    <!--  <img
      alt="Quasar logo"
      src="~assets/sz-logo.png"
      style="width: 40%"
    > -->
    <q-btn
      push
      color="green"
      class="full-width q-mr-sm"
      icon="ion-return-right"
      @click="registro()"
    >
      Asistencia
    </q-btn>
  </q-page>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      form: {
        date: new Date(),
        user: localStorage.getItem('sessionInfo')
      },
      isPwd: true,
      loading: false
    }
  },
  methods: {
    registro () {
      var user = localStorage.getItem('sessionInfo')
      user = JSON.parse(user)
      this.form.user = user.permissions
      console.log(this.form, user)
      this.$api.post('registro', this.form).then(res => {
        if (res) { // Se debe ejecutar una mutacion que modifique el state con sessionInfo
          this.$q.notify({
            message: 'Asistencia registrada con exito',
            color: 'green-4',
            textColor: 'white',
            icon: 'fas fa-check-circle'
          })
        }
        this.loading = false
      })
    }
  },
  mounted () {
    //   this.$q.notify('La variable ya existe...')
  }
}
</script>
