<template>
  <div>
    <div class="row justify-end q-pa-sm">
      <q-btn
        label="btn.label"
        color="primary"
        to="btn.url"
      />
      <!--Añadir atributo para ejecutar método-->
    </div>

    <div class="q-pa-sm">
      <q-table
        title="title"
        :data="data"
        :columns="columns"
        rows-per-page-label="Registros por página"
        dense
      >
        <q-td
          slot="body-cell-actions"
          slot-scope="props"
          :props="props"
        >
          <q-btn
            icon="edit"
            :to="'/example/' + props.row._id"
            color="primary"
            flat
            dense
          >
            <q-tooltip>
              Editar
            </q-tooltip>
          </q-btn>
           <q-btn
            @click="borrar(props.row._id)"
            icon="delete"
            color="negative"
            flat
            dense
          >
            <q-tooltip>
              Borrar
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-table>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      columns: [{
        name: 'name',
        required: true,
        label: 'Nombre',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        name: 'last_name',
        required: true,
        label: 'Apellido',
        align: 'left',
        field: 'last_name',
        sortable: true
      },
      {
        name: 'email',
        required: true,
        label: 'Correo',
        align: 'left',
        field: 'email',
        sortable: true
      },
      {
        align: 'left',
        name: 'password',
        label: 'Contraseña',
        field: 'password'
      },
      {
        align: 'left',
        name: 'date',
        label: 'Fecha de Nacimiento',
        field: 'date'
      },
      {
        align: 'left',
        name: 'actions',
        label: 'Acciones',
        field: 'actions'
      }
      ],
      show: false,
      data: [],
      loading: false
    }
  },
  methods: {
    onQuery () {
      this.loading = true
      this.$api.get('example').then(res => {
        if (res) { // Se debe ejecutar una mutacion que modifique el state con sessionInfo
          console.log(res)
          this.data = res
          this.loading = false
        }
      })
    },
    borrar (row) {
      this.$api.delete('example/' + row).then(res => {
        if (res) { // Se debe ejecutar una mutacion que modifique el state con sessionInfo
          this.$q.notify({
            color: 'negative',
            textColor: 'white',
            icon: 'fas fa-check-circle',
            message: 'Registro Eliminado con éxito!'
          })
          this.onQuery()
        }
      })
    }
  },
  mounted () {
    this.onQuery()
  }
}
</script>
