<template>
  <q-page class="bg-grey">
    <div>
      <q-card class="shadow-up-24 q-pb-xs">
        <q-card-section class="text-white bg-indigo">
          <div
            class="text-h6"
            style="text-align: center"
          >Nuevo Usuario</div>
        </q-card-section>
        <q-form
          @submit="onSubmit"
          class="q-gutter-md q-ma-md"
        >
          {{this.form}}
          <q-input
            class="q-ma-sm size"
                v-model="form.name"
                label="Nombre *"
                hint="Ingrese el nombre"
                lazy-rules
                :rules="[
                val => val && val.length > 2 || 'Debe tener al menos 3 caracteres',
                val => val && val.length <= 50 || 'No debe tener mas de 50 caracteres'
              ]"
              >
                <q-tooltip>
                  Ingrese el Nombre, este campo es requerido *
                </q-tooltip>
              </q-input>
              <q-input
                class="q-ma-sm size"
                v-model="form.last_name"
                label="Apellido *"
                hint="Ingrese el apellido"
                lazy-rules
                :rules="[
                val => val && val.length > 2 || 'Debe tener al menos 3 caracteres',
                val => val && val.length <= 50 || 'No debe tener mas de 50 caracteres'
              ]"
              >
                <q-tooltip>
                  Ingrese el apellido, este campo es requerido *
                </q-tooltip>
              </q-input>
              <q-input
                class="q-ma-sm"
                type="email"
                v-model="form.email"
                label="Email *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Ingresa tu Email']"
              >
                <template v-slot:prepend>
                  <q-icon name="mail"></q-icon>
                </template>
              </q-input>
              <q-input
                class="q-ma-sm"
                :type="isPwd ? 'password' : 'text'"
                v-model="form.password"
                label="Contraseña *"
                lazy-rules
                :rules="[
                  val => val && val.length > 0 || 'Ingresa tu contraseña',
                ]"
              >
                <template v-slot:prepend>
                  <q-icon name="vpn_key"></q-icon>
                </template>
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
              <div class="row justify-center">
                <q-date
                  v-model="form.date"
                  title="Fecha de Nacimiento"
                  mask="DD/MM/YYYY"
                />
              </div>
              <div class="text-center q-ma-sm">
                <q-btn
                  v-if="!edit"
                  push
                  color="green"
                  class="full-width q-mr-sm"
                  icon="ion-return-right"
                  :loading="loading"
                  type="submit"
                  @click="OnSubmit"
                >
                  Registrarse
                  <template v-slot:loading>
                    <q-spinner-hourglass class="on-left" />
                    Cargando...
                  </template>
                </q-btn>
                 <q-btn
                  v-else
                  push
                  color="green"
                  class="full-width q-mr-sm"
                  icon="ion-return-right"
                  :loading="loading"
                  type="submit"
                  @click="OnSubmit"
                >
                  Actualizar
                  <template v-slot:loading>
                    <q-spinner-hourglass class="on-left" />
                    Cargando...
                  </template>
                </q-btn>
              </div>
            </q-form>
          </q-card>
        </div>
      </q-page>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      form: {},
      isPwd: true,
      loading: false,
      edit: false,
      hola: 's'
    }
  },
  methods: {
    onSubmit () {
      this.loading = true
      if (!this.edit) {
        this.$api.post('example', this.form).then(res => {
          console.log(res)
          if (res) { // Se debe ejecutar una mutacion que modifique el state con sessionInfo
            this.$q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'fas fa-check-circle',
              message: 'Registro guardado con éxito!'
            })
            this.$router.push('example2')
          }
          this.loading = false
        })
      } else {
        this.$api.put('example/' + this.form._id, this.form).then(res => {
          console.log(res)
          if (res) { // Se debe ejecutar una mutacion que modifique el state con sessionInfo
            this.$q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'fas fa-check-circle',
              message: 'Registro Actualizado con éxito!'
            })
            this.$router.go(-1)
          }
          this.loading = false
        })
      }
    },
    getrecord (id) {
      this.$api.get('example/' + id).then(res => {
        this.form = res
      })
    }
  },
  mounted () {
    if (this.$route.params._id) {
      this.edit = true
      this.form._id = this.$route.params._id
      this.getrecord(this.$route.params._id)
    }
  }
}
</script>
