<template>
  <q-layout view="hHh lpR lFf">

    <q-header
      reveal
      elevated
      class="text-white"
      style="background-color: #0033cc"
    >
      <q-toolbar>
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="left = !left"
        />
        <q-space />
      </q-toolbar>
    </q-header>

    <q-drawer
      show-if-above
      v-model="left"
      side="left"
      elevated
    >
      <q-list
        bordered
        separator
      >
        <q-item
          clickable
          active-class="my-menu-link"
          v-ripple
          icon="home"
          label="Nuevo Usuario"
          to="/example"
        >
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>

          <q-item-section> inicio </q-item-section>
        </q-item>
         <q-item
          clickable
          active-class="my-menu-link"
          v-ripple
          icon="home"
          label="Listado de Usuario"
          to="/example2"
        >
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>

          <q-item-section> Listado </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>
<style>
.my-menu-link {
  color: white;
  background: #0032cc;
}
</style>
<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      left: false,
      nNotify: 100,
      myNotification: {},
      active_link_menu: '',
      menu2: [
        {
          name: 'Configuracion',
          url: '',
          icon: 'settings'
        }
      ],
      menu: [
        {
          name: 'Configuración',
          url: '',
          icon: 'settings',
          permission: 'configuration'
        }
      ]
    }
  },
  computed: {
  },
  methods: {
    ...mapActions('generals', ['logout']),
    exit () {
      this.logout()
      this.$router.push('/')
    }
  }
}
</script>
